<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.awesome.schoolapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="my.awesome.schoolapp.StudentHomeWork_list"></activity>
        <activity android:name="my.awesome.schoolapp.StudentHomeWork" />
        <activity android:name="my.awesome.schoolapp.StudentAttendance_list" />
        <activity android:name="my.awesome.schoolapp.StudentAttendance" />
        <activity android:name="my.awesome.schoolapp.AddHomeWork" />
        <activity android:name="my.awesome.schoolapp.HomeWork_list" />
        <activity android:name="my.awesome.schoolapp.HomeWork" />
        <activity android:name="my.awesome.schoolapp.UPIpayment" />
        <activity android:name="my.awesome.schoolapp.Teacher_View_Attendance_list" />
        <activity android:name="my.awesome.schoolapp.Teacher_View_Attendance" />
        <activity android:name="my.awesome.schoolapp.TakeAttendance_list" />
        <activity android:name="my.awesome.schoolapp.TakeAttendance" />
        <activity android:name="my.awesome.schoolapp.TeacherPortal" />
        <activity android:name="my.awesome.schoolapp.ViewTeacher" />
        <activity android:name="my.awesome.schoolapp.ViewStudent" />
        <activity android:name="my.awesome.schoolapp.AddTeacher" />
        <activity android:name="my.awesome.schoolapp.AddStudent" />
        <activity android:name="my.awesome.schoolapp.NoticeDetail" />
        <activity
            android:name="my.awesome.schoolapp.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="my.awesome.schoolapp.View_Notice2" />
        <activity android:name="my.awesome.schoolapp.AdminLogin" />
        <activity android:name="my.awesome.schoolapp.TeacherLogin" />
        <activity android:name="my.awesome.schoolapp.ParentLogin" />
        <activity android:name="my.awesome.schoolapp.ViewNotice" />
        <activity android:name="my.awesome.schoolapp.AddNotice" />
        <activity android:name="my.awesome.schoolapp.AdminPortal" />
        <activity android:name="my.awesome.schoolapp.parentPortal" />
        <activity
            android:name="my.awesome.schoolapp.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>